*{
  padding: 0;
  margin
}
body {
  text-align: center;
  color: #000000;
  font-family: sans-serif;Ariel; 
  font-size: 13px
}

a{
  color: #006738;
  text-decoration: none;
  margin: 20px;
  padding: 20px
  text-align:center;
}

.boxlogo{
  width: 50%

}

.mainpic{
  width: 80%
}

.shop{
  width: 50%
}

img{
  width: 100%

}



form {
                width:500px;
                margin:40px auto;
                font-family: sans-serif;Ariel;
                font-size: 15px

}


