@import url(https://fonts.googleapis.com/css?family=Raleway);


*{
  padding: 0;
  margin

}
body {
  text-align: center;
  color: #000000;
  font-family: 'Raleway', sans-serif;
  font-size: 15px

}

a{
  color: #006738;
  text-decoration: none;
  margin: 20px;
  padding: 20px
  text-align:center;
  font-size: 1em;

}

h2{
  font-size: 1.5em

}

h3{
  color: rgba(0,0,0,0.4);
}

.boxlogo{
  width: 50%

}

.mainpic{
  width: 80%
}

.shop{
  width: 50%
}

img{
  width: 100%

}



form {
                width:500px;
                margin:40px auto;
                font-family: 'Raleway', sans-serif;
                font-size: 15px

}


